@charset "utf-8";
*:focus {
    outline: none;
}
* {
    word-wrap: break-word;
}
::-webkit-input-placeholder {
    color: #bebebe !important;
}
::-moz-placeholder {
    color: #bebebe !important;
}
:-ms-input-placeholder {
    color: #bebebe !important;
}
body {
    background-color: #efefef;
    overflow-y: scroll;
    position: relative;
    color: #888888;
}
a:focus {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
header {
    padding-top: 5px;
    padding-bottom: 5px;
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #ddd9d6);
    background-image: -moz-linear-gradient(top, #ffffff, #ddd9d6);
    background-image: -ms-linear-gradient(top, #ffffff, #ddd9d6);
    background-image: -o-linear-gradient(top, #ffffff, #ddd9d6);
    background-image: linear-gradient(to bottom, #ffffff, #ddd9d6);
}
footer {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
table {
    width: 100%;
}
.table-search tbody tr th{
    font-weight: normal;
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
menu {
    padding: 0;
    margin: 0;
}
menu ul {
    padding: 0;
    margin: 0;
}
menu ul li {
    background-color: #777777;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    list-style: none;
    border-bottom: 1px solid #bcbcbc;
}
menu ul li:hover {
    background-color: #717171;
}
menu ul li a:hover {
    text-decoration: none;
}
menu ul li a {
    display: block;
}
menu ul li:last-child {
    border-bottom: 0px;
}
menu ul li a {
    color: #FFFFFF !important;
}
.drop:hover .dropdown-re {
display:block;
}
.dropdown-re{
  max-width:350px;
  min-width: 270px;
  width:auto;
  height:auto;
  padding:10px;
  background:#fff;
  display:none;
  position:absolute;
  z-index: 999999;
  top:40px;
  left:15px;
   transform: skewX(20deg);
   -webkit-box-shadow: 2px 13px 13px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 13px 13px -6px rgba(0,0,0,0.75);
box-shadow: 2px 13px 13px -6px rgba(0,0,0,0.75);
}


.dropdown-re li{
  float:left;
  margin-left:10px;
  width:100%;
  height:30px;
  display:block;
}


.dropdown-re li.active a{
color:rgb(204,82,14) !important;
}



.dropdown-re li a{
  color:rgb(136,140,140)
}

.navbar {
    min-height: 42px;
    margin-bottom: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
}
.navbar-nav{
  position: relative;
  z-index: 2;
}
.navbar-nav > li > a {
    padding-top: 11px;
    padding-bottom: 11px;
}
.navbar-brand {
    padding: 11px 11px;
}
.container {
    width: 1100px !important;
}
.navbar-inverse {
    background-color: #cc520e;
    border: 0;
}

.navbar-inverse .navbar-nav > li:hover a{
background-color:#fff;
color:#858585;
}


.navbar-inverse .navbar-nav > .active > a {
    background-color: #ffffff !important;
    color: #858585 !important;
}
.navbar-inverse .navbar-nav > .home a::before {
    position: absolute;
    top: 0;
    left: -10px;
    border-bottom: 42px solid transparent;
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
    width: 20px;
    height: 0;
    content: " ";
    background-color: #CC520E;
}
.navbar-nav > .home > a {
    padding-left: 26px;
}
.navbar-inverse .navbar-nav > .login a::after, .navbar-inverse .navbar-nav > .logout a::after {
    position: absolute;
    top: 0;
    right: -10px;
    border-bottom: 42px solid transparent;
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
    width: 20px;
    height: 0;
    content: " ";
    background-color: #CC520E;
}
.navbar-nav > .login > a ,.navbar-nav > .logout > a {
    padding-right: 26px;
}
.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #ffffff;
    color: #858585;
}
.navbar-inverse .navbar-nav > .login > a:hover {
    background-color: #8b0029 !important;
    color: #ffffff !important;
}
.navbar-inverse .navbar-nav > li {
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
.navbar-inverse .navbar-nav > li a span {
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
    display: block;
}
.navbar-nav > li > .dropdown-menu {
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
}
nav.navbar .container {
    padding-right: 5px;
    padding-left: 5px;
}
.wrap .nav-tabs > li, .wrap .nav-tabs {
    -webkit-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    -o-transform: skewX(-10deg);
    transform: skewX(-10deg);
}
.wrap .nav-tabs > li a span {
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
    display: block;
}
.tab-content .box-solid .box-header {
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
    margin-left: 7px;
}
.tab-content .box-solid .box-header span {
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
    display: block;
}
.tab-content .box-solid .box-header::after {
    position: absolute;
    top: 0px;
    right: -9px;
    border-bottom: 40px solid transparent;
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
    width: 20px;
    height: 0;
    content: " ";
    background-color: #f5ad3c;
}
.department {
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
.department span {
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
    display: block;
}
.department::after {
    position: absolute;
    top: 0px;
    right: -9px;
    border-bottom: 40px solid transparent;
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
    width: 20px;
    height: 0;
    content: " ";
    background-color: #cc520e;
}
.in-population {
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
.in-population span {
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
    display: block;
}
.in-population::after {
    position: absolute;
    top: 0px;
    right: -8px;
    border-bottom: 40px solid transparent;
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
    width: 20px;
    height: 0;
    content: " ";
    background-color: #8b0029;
    cursor: pointer;
}
li.tab1 {
    margin-left: 4px;
}
.navbar-nav.navbar-right:last-child {
    margin-right: 0px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #ffffff;
    color: #858585;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:active {
    background-color: #8b0029;
}
.navbar-inverse .dropdown-menu:after {
    position: absolute;
    top: -8px;
    right: 20px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #8b0029;
    border-left: 6px solid transparent;
    content: '';
}
.navbar-inverse .dropdown-menu {
    border-top: 3px solid #8b0029;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    min-width: 270px;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.navbar-nav > li > .dropdown-menu {
    top: 47px;
    background-image: url('../images/bg-login.jpg');
    background-position: center top;
    background-size: 100% auto;
}
.form-login-dropdown {
    padding: 17px;
    overflow: hidden;
}
.username input, .password input {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 0 10px 0 30px;
    outline: none;
}
.username input:focus, .password input:focus {
    border: 1px solid #cdc9c6 !important;
}
.username input#username {
    background: #fff url(../images/username.png) 7px 9px no-repeat;
    border: 1px solid #e2dbd6;
}
.password input#password {
    background: #fff url(../images/password.png) 7px 9px no-repeat;
    border: 1px solid #e2dbd6;
}
.username label {
    font-weight: normal;
    color: #888888;
}
.password label {
    font-weight: normal;
    color: #888888;
}
.btn-login, .btn-cancle {
    width: 48%;
}
.btn {
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
}
.btn-primary {
    color: #ffffff !important;
    background-color: #8b0029 !important;
    border-color: #8b0029 !important;
    border-radius: 0;
}
.btn-default {
    color: #ffffff !important;
    background-color: #9f9f9f !important;
    border-color: #9f9f9f !important;
    border-radius: 0px;
}
.form-control:focus {
    box-shadow: none;
}
.box-content {
    margin-top: 10px;
}
.wrap {
    background-color: #ffffff;
    padding: 15px;
}
.visitor {
    padding-left: 30px;
}
.copyright {
    padding-top: 3px;
    padding-bottom: 3px;
}
.charts-1 {
    padding: 8px;
    background-color: #f5ad3c;
    height: 347px;
    margin-top: 60px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.btn-show-all {
    background-color: #ffffff;
}
.charts-1 .pull-left {
    color: #ffffff;
}
.btn-show-all {
    color: #999999 !important;
    border-radius: 3px;
}
.box-charts-1 {
    margin-top: -40px;
}
.wrap-charts {
    margin-top: -40px;
}
.in-1 {
    margin-top: 10px;
}
.box-charts-small {
    margin-top: 60px;
}
.box-charts-2 {
    padding: 8px;
    background-color: #86d6d3;
    color: #ffffff;
    height: 205px;
}
.box-charts-3 {
    padding: 8px;
    background-color: #a1c3d7;
    color: #ffffff;
    height: 205px;
}
.box-charts-4 {
    padding: 8px;
    background-color: #bcadd7;
    color: #ffffff;
    height: 205px;
}
.news-download {
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: -ms-linear-gradient(bottom, #FFFFFF 5%, #f7f7f7 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 5%, #f7f7f7 100%);
    background-image: -o-linear-gradient(bottom, #FFFFFF 5%, #f7f7f7 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(5, #FFFFFF), color-stop(100, #f7f7f7));
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 5%, #f7f7f7 100%);
    background-image: linear-gradient(to top, #FFFFFF 5%, #f7f7f7 100%);
}
.news-download .box-solid .box-header {
    background-color: #a5a5a5;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.box-body {
    background-color: #e8e8e8;
    padding: 10px;
    overflow: hidden;
}
.btn-all {
    background-color: #f26d23 !important;
    color: #ffffff !important;
}
.box-news, .box-contents {
    height: 110px;
    position: relative;
}
.box-solid {
    position: relative;
}
.box-contents {
    width: 61.33%;
}
.btn-more {
    padding: 3px 12px;
    border-radius: 3px;
    position: absolute;
    bottom: 0px;
}
.btn-plus {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.box-contents {
    padding: 3px 12px;
    border-radius: 3px;
    position: relative;
    bottom: 0;
}

.navbar-inverse .navbar-nav > .logout > a, .navbar-inverse .navbar-nav > .logout > a:hover, .navbar-inverse .navbar-nav > .logout > a:focus, .navbar-inverse .navbar-nav > .logout > a:active {
    background-color: #8b0029;
    color: #ffffff;
}
.tab1 {
    background-color: #9f9f9f;
}
.tab2 {
    background-color: #cc520e;
}
.tab3 {
    background-color: #f5ad3c;
}
.tab4 {
    background-color: #8b0029;
}
.nav > li > a:hover, .nav > li > a:focus {
    color: #000000;
    background-color: #ffffff;
}
.nav-tabs > li > a:hover {
    border: 0;
}
.nav-tabs > li > a {
    border: 0;
    padding: 10px 25px;
}
.nav-tabs > li.active > a {
    border: 0px;
}
.nav-tabs > li.active > a {
    margin-right: 0px;
}
.nav-tabs {
    border-bottom: 4px solid #cc520e;
}
.nav-tabs > li > a {
    color: #ffffff;
}
.nav-tabs > li.active > a {
    color: #000000;
}
.nav-tabs > li.active > a:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border-top: 10px solid #cc520e;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: -8px;
    -webkit-transform: skewX(19deg);
    -moz-transform: skewX(19deg);
    -ms-transform: skewX(19deg);
    -o-transform: skewX(19deg);
    transform: skewX(19deg);
}
.nav-tabs > li > a {
    border-radius: 0px;
    margin-right: 0px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 0px;
}
.icon {
    background: url('../images/icon.png')no-repeat;
    width: 9px;
    height: 6px;
    margin-top: 8px;
}
.tab-content .tab-pane {
    padding-top: 20px;
}
.tab-content .box-solid .box-header {
    background-color: #f5ad3c;
    padding: 10px 20px;
    color: #ffffff;
    width: 98%;
}
.tab-content .wrap-solid .box-body {
    background: #f7f7f7 url('../images/bg-graph.png') center center no-repeat;
}
.tab-content .box-solid {
    margin-top: 20px;
}
.tab-content .box-solid .box-body {
    background-color: #f7f7f7;
}
.thead-default {
    background-color: #f1f0ef;
}
.table-bordered tbody {
    background-color: #fbfaf8;
}
.user-panel {
    height: 35px;
}
.user-panel .image {
    margin-left: 10px;
}
.user-panel .info {
    line-height: 16px;
    width: 180px;
    text-align: right;
}
.box-population {
    width: 250px;
    color: #ffffff;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
}
.in-population {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    background-color: #8b0029;
    width: 235px;
    margin-left: 7px;
    cursor: pointer;
}
.wrap-population {
    padding-left: 5px;
    padding-right: 5px;
    height: 70px;
    background-color: #8b0029;
    display: none;
}
.department {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 10px;
    width: 150px;
    background-color: #cc520e;
    color: #ffffff;
    position: absolute;
    bottom: -10px;
    right: 0;
}
.box-description {
    background-color: #f1f1f1;
    padding: 10px;
}
.box-map {
    position: relative;
    height: 580px;
}
